---
layout: default
title: Biométricos
---

<header>
  <div class="container section-box">
    <div class="column">
      <div>
        <h1 class="editable section-title">Biométricos</h1>
        <p class="editable">Asistencia sin fraudes: fácil, rápido y seguro</p>
        <div class="button">
          <a href="#donate">Cotiza tu Equipo</a>
        </div>
      </div>
    </div>
    <div class="column">
      <img
        src="{{ site.baseurl }}/images/biometrico.webp"
        alt="Control biométrico ZKTeco MB20VL"
        loading="lazy"
      />
    </div>
  </div>
</header>

<div class="container section-box">
  <h2 class="editablen section-title" style="text-align: center">Beneficios</h2>

  <ul class="thirds" id="beneficios-list">
    <li>
      <div class="image">{% include icons/site.html icon="reports" %}</div>
      <h3 class="editable">Reportes</h3>
      <p class="editable">
        Software incluido con reportes automáticos - Exporta a Excel.
      </p>
    </li>

    <li>
      <div class="image">{% include icons/site.html icon="clock" %}</div>
      <h3 class="editable">Control de asistencia en tiempo real</h3>
      <p class="editable">
        Registros precisos de entradas y salidas, sin posibilidad de
        suplantación.
      </p>
    </li>

    <li>
      <div class="image">{% include icons/site.html icon="savings" %}</div>
      <h3 class="editable">Reducción de costos</h3>
      <p class="editable">
        Menos tiempo en gestiones manuales y menos pérdidas por fraudes o
        retrasos.
      </p>
    </li>
  </ul>
</div>

<div class="container section-box>
  <div class="columns">
    <div>
      <img
        src="{{ site.baseurl }}/images/dedo.webp"
        alt="Cómo funciona un biométrico"
        loading="lazy"
        class="device-img"
        width="520"
        height="340"
      />
    </div>
    <div>
      <h2 class="editable section-title">Cómo funciona</h2>

      <ol>
        <li>
          <strong>Instalación sin complicaciones:</strong> nuestro equipo
          instala y configura el dispositivo para que esté listo desde el primer
          día.
        </li>
        <li>
          <strong>Ubicación estratégica:</strong> coloca el biométrico en el
          lugar más conveniente para tu empresa.
        </li>
        <li>
          <strong>Reportes automáticos:</strong> supervisa la asistencia en
          tiempo real y genera reportes detallados en ZKBiotime.
        </li>
      </ol>
    </div>
  </div>

  <div class="container">
    <hr />
    <blockquote>
      <p class="quote editable">
        “Desde que implementamos los biométricos de Dolsite, logramos un control
        de asistencia más preciso y redujimos el tiempo de gestión en un 40%.
        Ahora tenemos reportes claros y confiables en segundos.”
      </p>
      <div class="attribute">
        <p class="meta">
          <span class="image"
            ><img
              class="editable"
              src="{{ site.baseurl }}/images/colecom.png"
              alt="Colecom Constructora"
          /></span>
          <span class="author editable"><strong>Colecom Constructora</strong></span>
        </p>
      </div>
    </blockquote>
  </div>

  <div class="darker">
    <div class="container section-box">
      <h2 class="editable section-title">Regístrate</h2>
      <p class="editable" style="text-align: center">
        Regístrate con tu correo electrónico y nos contactaremos contigo y obtendrás una visita completamente gratis.
      </p>
      <form action="{{ site.newsletter_action }}" method="post">
        <input type="text" name="EMAIL" placeholder="Email" />
        <input type="submit" value="Regístrate" />
      </form>
    </div>
  </div>

  <div class="darker">
    <div class="container section-box">
      <h2 class="editable section-title">Modelos</h2>
      <p class="editor-link">
        <a href="cloudcannon:collections/_posts" class="btn"
          ><strong>&#9998;</strong> Add Update</a
        >
      </p>
      <div class="posts">
        {% for post in site.posts %}
        <div class="post">
          <div
            class="image"
            style="background-image: url({{ post.featured_image}})"
          ></div>
          <div class="post-content">
            <p>
              {{ post.custom_date | default: post.date | date: '%B %d, %Y' }}
            </p>
            <h3>{{ post.title }}</h3>

            {{ post.content }}
            <p class="editor-link">
              <a href="cloudcannon:collections/{{ post.path }}" class="btn"
                ><strong>&#9998;</strong> Edit Update</a
              >
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
